.back-button {
  align-items: center;
  border: none;
  display: flex;
  font-size: 14px;
  height: 3em;
  justify-content: space-evenly;
  width: 7%;
  outline: none;
}

.countryinfo-data {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3em auto;

  .countryinfo-flag-container {
    > img {
      width: 36vw;
    }
  }

  .countryinfo-info-container {
    width: 40%;

    > h2 {
      margin: 1em auto;
    }

    .countryinfo-specifics {
      justify-content: space-between;
      display: flex;

      .general-info {
        > p {
          font-weight: 700;
          line-height: 2em;

          > span {
            font-weight: normal;
          }
        }
      }
    }

    .border-info {
      margin: 2em auto;
      display: flex;
      flex-flow: row wrap;

      > p {
        font-weight: 700;

        > span {
          font-weight: normal;
        }
      }

      .border-button {
        border: none;
        font-weight: 600;
        margin: auto 0.7em;
        outline: none;
        padding: 8px;
      }
    }
  }
}

// toggle theme

.button-light {
  background-color: white;
  box-shadow: $light-theme-shadow;
  transition: 0.2s;
}

.button-dark {
  background-color: $dark-background;
  box-shadow: $dark-theme-shadow;
  color: $light-font-color;
  transition: 0.2s;
}
