.back-button {
  align-items: center;
  border: none;
  display: flex;
  font-size: 14px;
  height: 3em;
  justify-content: space-evenly;
  width: 7%;
  outline: none;
}

.countryinfo-data {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 3em auto;

  .countryinfo-flag-container {
    > img {
      width: 36vw;
    }
  }

  .countryinfo-info-container {
    border: 1px solid blue;
    height: 40vh;
    > h2 {
      margin: 1em auto;
    }

    .countryinfo-specifics {
      justify-content: space-between;
      display: flex;
      border: 1px black solid;
    }
  }
}

// toggle theme

.button-light {
  background-color: white;
  box-shadow: $light-theme-shadow;
  transition: 0.2s;
}

.button-dark {
  background-color: $dark-background;
  box-shadow: $dark-theme-shadow;
  color: $light-font-color;
  transition: 0.2s;
}
