header {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 4.5em;

  h2 {
    margin-left: 2em;
  }

  > div {
    margin-right: 2em;
  }
}

.toggle-input {
  opacity: 0;
  position: absolute;
}

.toggle-input:checked + .toggle-label .ball {
  transform: translateX(24px);
}

.toggle-label {
  align-items: center;
  background-color: #111;
  border-radius: 50px;
  display: flex;
  height: 26px;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  width: 50px;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 22px;
  transition: 0.2s;
}

// theme toggle

.header-light {
  background-color: $light-background;
  box-shadow: $light-theme-shadow;
  transition: 0.2s;
  color: $dark-font-color;
}

.header-dark {
  background-color: $dark-background;
  box-shadow: $dark-theme-shadow;
  transition: 0.2s;
  color: $light-font-color;
}
