.search-filter-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.search-container {
  align-items: center;
  display: flex;
  height: 3em;
  margin: auto 5px;
  padding: 0 0 0 1em;
  width: 24%;

  > input {
    border: none;
    margin: auto 1em;
    outline: none;
    width: 85%;
  }
}

.filter-container {
  position: relative;
}

.countries-container {
  display: flex;
  flex-flow: row wrap;
  margin: 3em auto 0;
}

// theme toggle

.main-light {
  background-color: $light-background;
  color: $dark-font-color;
  transition: 0.2s;

  .search-container {
    background-color: white;
    box-shadow: $light-theme-shadow;
    transition: 0.2s;

    input {
      transition: 0.2s;
    }
  }

  .filter-container {
    > select {
      background-color: white;
      border: 1px solid transparent;
      box-shadow: $light-theme-shadow;
      color: $dark-font-color;
      cursor: pointer;
      font-size: 15px;
      padding: 0.7em;
      transition: 0.2s;
    }
  }
}

.main-dark {
  background-color: $very-dark-background;
  color: $light-font-color;
  transition: 0.2s;

  .search-container {
    box-shadow: $dark-theme-shadow;
    background-color: $dark-background;
    transition: 0.2s;

    input {
      background-color: $dark-background;
      color: $light-font-color;
      transition: 0.2s;
    }

    ::placeholder {
      color: $light-font-color;
      transition: 0.2s;
    }
  }

  .filter-container {
    > select {
      background-color: $dark-background;
      border: 1px solid transparent;
      box-shadow: $dark-theme-shadow;
      color: $light-font-color;
      cursor: pointer;
      font-size: 15px;
      padding: 0.7em;
      transition: 0.2s;
    }
  }
}
