$general-light-background: hsl(0, 0%, 100%);
$header-dark-background: hsl(210, 22%, 22%);
$general-dark-background: hsl(205, 25%, 17%);

$dark-shadow: hsl(205, 28%, 16%);

@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 4.5em;
}

header h2 {
  margin-left: 2em;
}

header > div {
  margin-right: 2em;
}

.toggle-input {
  opacity: 0;
  position: absolute;
}

.toggle-input:checked + .toggle-label .ball {
  transform: translateX(24px);
}

.toggle-label {
  align-items: center;
  background-color: #111;
  border-radius: 50px;
  display: flex;
  height: 26px;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  width: 50px;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 22px;
  transition: 0.2s;
}
