@font-face {
  font-family: 'Nunito Sans';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  margin: 3em 3em;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section {
  margin: 3em 3em;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.5em;
}

header h2 {
  margin-left: 2em;
}

header > div {
  margin-right: 2em;
}

.toggle-input {
  opacity: 0;
  position: absolute;
}

.toggle-input:checked + .toggle-label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.toggle-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  width: 50px;
}

.ball {
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 22px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-light {
  background-color: white;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #0f191f;
}

.header-dark {
  background-color: #2c3844;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(15, 16, 16, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(15, 16, 16, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.search-filter-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3em;
  margin: auto 5px;
  padding: 0 0 0 1em;
  width: 24%;
}

.search-container > input {
  border: none;
  margin: auto 1em;
  outline: none;
  width: 85%;
}

.filter-container {
  position: relative;
}

.countries-container {
  margin: 3em auto;
}

.main-light {
  background-color: white;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #0f191f;
}

.main-light .search-container {
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.main-light .filter-container > select {
  background-color: white;
  border: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  color: #0f191f;
  cursor: pointer;
  font-size: 15px;
  padding: 0.7em;
}

.main-dark {
  background-color: #212d36;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(15, 16, 16, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(15, 16, 16, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.main-dark .search-container {
  -webkit-box-shadow: 2px 2px 5px 2px rgba(15, 16, 16, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(15, 16, 16, 0.2);
  background-color: #2c3844;
}

.main-dark .search-container input {
  background-color: #2c3844;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-dark .search-container ::-webkit-input-placeholder {
  color: white;
}

.main-dark .search-container :-ms-input-placeholder {
  color: white;
}

.main-dark .search-container ::-ms-input-placeholder {
  color: white;
}

.main-dark .search-container ::placeholder {
  color: white;
}

.main-dark .filter-container > select {
  background-color: #2c3844;
  border: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(15, 16, 16, 0.2);
          box-shadow: 2px 2px 5px 2px rgba(15, 16, 16, 0.2);
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 0.7em;
}
/*# sourceMappingURL=main.css.map */